@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model POS.Repository.ProductsEntity

@{
    ViewData["Title"] = "New Product";
}

<h2>Add New Product</h2>

<form asp-controller="Product" asp-action="Save" method="post">
    <div class="form-group">
        <label asp-for="ProductName">Product Name</label>
        <input asp-for="ProductName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Supplier">Supplier</label>
        <input asp-for="Supplier" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Category">Category</label>
        <input asp-for="Category" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Quantity">Quantity Per Unit</label>
        <input asp-for="Quantity" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UnitPrice">Unit Price</label>
        <input asp-for="UnitPrice" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UnitInStock">Unit In Stock</label>
        <input asp-for="UnitInStock" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UnitInOrder">Unit On Order</label>
        <input asp-for="UnitInOrder" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ReorderLevel">Reorder Level</label>
        <input asp-for="ReorderLevel" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Discontinued">Discontinued</label>
        <input asp-for="Discontinued" class="form-control" />
    </div>
    <div class="pt-2 pb-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>