################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/POS/POS.WEB/Views/Customer/Add - Copy.cshtml
