@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model POS.ViewModel.OrderModel

@{
    ViewData["Title"] = "Order Edit";
}

<h2>Edit Order</h2>
<form asp-controller="Order" asp-action="Update" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="CustomerId">Customer</label>
        <select type="text" asp-for="CustomerId" class="form-control" asp-items="@ViewBag.Customer">
            <option selected>Select Customer</option>
        </select>
        <span asp-validation-for="CustomerId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmployeeId">Employee</label>
        <select type="text" asp-for="EmployeeId" class="form-control" asp-items="@ViewBag.Employee">
            <option selected>Select Employee</option>
        </select>
        <span asp-validation-for="EmployeeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="OrderDate">Order Date</label>
        <input asp-for="OrderDate" class="form-control" />
        <span asp-validation-for="OrderDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RequiredDate">Required Date</label>
        <input asp-for="RequiredDate" class="form-control" />
        <span asp-validation-for="RequiredDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShippedDate">Shipped Date</label>
        <input asp-for="ShippedDate" class="form-control" />
        <span asp-validation-for="ShippedDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShipperId">Shipper</label>
        <select type="text" asp-for="ShipperId" class="form-control" asp-items="@ViewBag.Shipper">
            <option selected>Select Shipper</option>
        </select>
        <span asp-validation-for="ShipperId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShipVia">ShipVia</label>
        <input asp-for="ShipVia" class="form-control" />
        <span asp-validation-for="ShipVia" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Freight">Freight</label>
        <input asp-for="Freight" class="form-control" />
        <span asp-validation-for="Freight" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShipName">Ship Name</label>
        <input asp-for="ShipName" class="form-control" />
        <span asp-validation-for="ShipName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShipAddress">Ship Address</label>
        <input asp-for="ShipAddress" class="form-control" />
        <span asp-validation-for="ShipAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShipCity">Ship City</label>
        <input asp-for="ShipCity" class="form-control" />
        <span asp-validation-for="ShipCity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShipRegion">Ship Region</label>
        <input asp-for="ShipRegion" class="form-control" />
        <span asp-validation-for="ShipRegion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShipPostalCode">Ship Postal Code</label>
        <input asp-for="ShipPostalCode" class="form-control" />
        <span asp-validation-for="ShipPostalCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ShipCountry">Ship Country</label>
        <input asp-for="ShipCountry" class="form-control" />
        <span asp-validation-for="ShipCountry" class="text-danger"></span>
    </div>

    <h2 class="content-caption mb-0 d-flex justify-content-between">
        Order Detail
        <a class="btn-add add-detail" data-added="0"><i class="la la-plus la-lg">+</i></a>
    </h2>

    <table class="table table-borderless m-0" id="tbl_posts2">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Discount</th>
            </tr>
        </thead>
        <tbody id="tbl_posts_body2">
            @for (int i = 0; i < Model.OrderDetailsModel.Count; i++)
            {
                <tr id="re-0">
                    <td><input type="text" asp-for="OrderDetailsModel[i].ProductId" class="form-control" /></td>
                    <td><input asp-for="OrderDetailsModel[i].UnitPrice" class="form-control" /></td>
                    <td><input asp-for="OrderDetailsModel[i].Quantity" class="form-control" /></td>
                    <td><input asp-for="OrderDetailsModel[i].Discount" class="form-control" /></td>
                    <td class="text-center"><a class="btn btn-xs delete-detail" edu-data-id="1"><i class="la la-trash la-lg text-danger">-</i></a></td>
                </tr>
            }
        </tbody>
        <tbody id="Detail-2">
        </tbody>

    </table>

    <div class="pt-2 pb-2">
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
        <a asp-action="Index" class="btn btn-sm btn-success">Back</a>
    </div>

</form>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {

            //Education
            var j = 1;
            //added class to inputs
            $('a.add-detail').click(function () {
                $("#Detail-2").append('<tr><td><input id="OrderDetailsModel_' + j + '__ProductId" class="form-control" type="text" data-val="true" name="OrderDetailsModel[' + j + '].ProductId" value=""/></td><td><input id="OrderDetailsModel_' + j + '__UnitPrice" class="form-control" type="text" data-val="true" name="OrderDetailsModel[' + j + '].UnitPrice" value=""/></td><td><input id="OrderDetailsModel_' + j + '__Quantity" class="form-control" type="text" data-val="true" name="OrderDetailsModel[' + j + '].Quantity" value=""/></td><td><input id="OrderDetailsModel_' + j + '__Discount" class="form-control" type="text" data-val="true" name="OrderDetailsModel[' + j + '].Discount" value=""/></td><td class="text-center"><a class="btn btn-xs delete-detail" edu-data-id="1"><i class="la la-trash la-lg text-danger">-</i></a></td></tr>');
                j++;
            });
            $('#Detail-2').on('click', '.delete-detail', function () {
                $(this).parent().parent().remove();
                j--; //decremnt count
                resetValues(); //call to reset values
            });

            function resetValues() {
                counter = 1; //initialze to 1
                //looping through tbody
                $("#Detail-2 tr").each(function () {
                    //find .school class replace its name value
                    $(this).find('.ProductId').attr("OrderDetailsModel[" + counter + "].ProductId");
                    $(this).find('.UnitPrice').attr("OrderDetailsModel[" + counter + "].UnitPrice");
                    $(this).find('.Quantity').attr("OrderDetailsModel[" + counter + "].Quantity");
                    $(this).find('.Discount').attr("OrderDetailsModel[" + counter + "].Discount");
                    counter++; //increment count
                })
            }
        });
    </script>
}
