@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model POS.ViewModel.OrderDetailModel

@{
    ViewData["Title"] = "New Order";
}

<h2>Add New Order Detail</h2>

<form asp-controller="OrderDetail" asp-action="Save" method="post">
    <div class="form-group">
        <label asp-for="OrderId">Order</label>
        <select asp-for="OrderId" class="form-control">
            <option>Pilih Order</option>
            <option value="1">Order 1</option>
            <option value="2">Order 2</option>
            <option value="3">Order 3</option>
            <option value="4">Order 4</option>
            <option value="5">Order 5</option>
            <option value="6">Order 6</option>
        </select>
        <span asp-validation-for="OrderId" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ProductId">Product</label>
        <select asp-for="ProductId" class="form-control">
            <option>Pilih Product</option>
            <option value="1">Product 1</option>
            <option value="2">Product 2</option>
            <option value="3">Product 3</option>
            <option value="4">Product 4</option>
            <option value="5">Product 5</option>
            <option value="6">Product 6</option>
        </select>
        <span asp-validation-for="ProductId" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="UnitPrice">Unit Price</label>
        <input asp-for="UnitPrice" class="form-control" />
        <span asp-validation-for="UnitPrice" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Quantity">Quantity</label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Discount">Discount</label>
        <input asp-for="Discount" class="form-control" />
        <span asp-validation-for="Discount" class="text-danger" />
    </div>
    <div class="pt-2 pb-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
